.main-card-body {
  /* background-color: azure; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 270px;
  width: 252px;
  margin: 20px;
}
.product-card-text {
  /* background-color: aquamarine; */
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.product-card-text > p {
  line-height: 1%;
}
