.available-now-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aquamarine; */
  height: 180px;
  width: 1000px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.available-now-div > h2 {
  color: rgba(75, 75, 75, 0.797);
  font-weight: 300;
}
